@page "/game/{TableId}"
@inject HttpClient Http
@inject AppState AppState

<div class="game-layout">
    <div class="main-column">
        <GameBoard TableId="@TableId"/>
        <GameChat TableId="@TableId"/>
    </div>

    <div class="side-column">
        <GameLdb TableId="@TableId"/>
    </div>
</div>

@code
{
    [Parameter]
    public required string TableId { get; set; }
}
