@page "/lobby"
@inject HttpClient Http
@inject NavigationManager Nav
@inject AppState AppState
@using shared
@implements IDisposable

<div class="lobby-wrapper"
     tabindex="0"
     style="outline: none;">

    <h2>AVAILABLE TABLES</h2>
    @if (tables == null)
    {
        <p>SCANNING NETWORK...</p>
    }
    else
    {
        @foreach (TableDto t in tables)
        {
            <div class="table-card"
                 tabindex="0"
                 @onkeydown:stopPropagation="true">

                <div>@t.Name [TIER @t.Tier]</div>
                <div style="font-size: 0.8rem">SEATS: @t.PlayerCount/@t.MaxSeats | MIN: $@t.MinBet</div>
            </div>
        }
    }
</div>

@code
{
    List<TableDto>? tables;

    protected override async Task OnInitializedAsync()
    {
        AppState.OnCliInput += HandleCliInput;
        List<TableDto>? _tables = await Http.GetFromJsonAsync<List<TableDto>>("/tables");
        tables = _tables ?? new List<TableDto>();
    }

    async Task HandleCliInput(string cmd, string[] args)
    {
        switch (cmd)
        {
            case "JOIN":
                if (tables != null && args.Length == 1)
                {
                    TableDto? table = null;
                    string target = args[0];

                    if (int.TryParse(target, out int index) &&
                        index > 0 && index <= tables.Count)
                    {
                        table = tables[index - 1];
                    }

                    if (table != null)
                    {
                        await AppState.JoinTable(table.Id);
                    }
                }
                break;
            case "LOBBY":
            case "HOME":
            case "EXIT":
            case "Q":
                await AppState.LeaveTable();
                break;
        }
    }

    public void Dispose()
    {
        AppState.OnCliInput -= HandleCliInput;
    }
}
